<div class="bg-cover bg-no-repeat h-screen bg-background_img">
  <%= render 'devise/shared/navbar' %>
  <div class = "pt-5 mx-12 mt-20" style="display: flex; justify-content: center; align-items: center;">
    <div class="p-5 flex flex-col items-center justify-center mx-12 px-5 my-10 w-full h-4/5 max-w-sm bg-white border border-black-200 rounded-lg shadow sm:p-30 md:p-30 dark:bg-gray-800 border-transparent">
      <div class="flex flex-col items-center justify-between space-y-5 ">
        <h3 class="font-bold">Two Factor Code</h3>
        <div class="card bg-white p-4 rounded-lg shadow-md">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>
            <div class=form-group mb-4">
              <%= f.text_field :otp_attempt, class: "form-control" %>
            </div>
            <br>
            <div class="actions flex justify-center">
              <div>
                <%= f.submit "Submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
              </div>
            </div>
          <% end %>
        </div>
        <div>
        </div>
      </div>
    </div>
