<div class="bg-cover bg-no-repeat h-screen bg-background_img">
    <div class = "pt-28">
        <div class ="bg-gray-800" style="border: 2px; margin: 100px; padding: 40px; border-radius: 10px; color: white; opacity: 0.95;">
            <h1 class="text-center font-bold"> <%= message %> </h1>
        </div>
    </div>
</div>
