<div class="bg-cover h-screen bg-background_img">
  <div class="pt-5 mx-12 flex justify-center items-center">
    <div class="mt-24 p-5 flex flex-col items-center justify-center mx-12 px-5 my-10 w-full h-4/5 max-w-sm bg-white border border-black-200 rounded-lg shadow sm:p-30 md:p-30 dark:bg-gray-800 border-transparent">
      <div class="flex flex-col items-center justify-between space-y-5">
        <h3 class="font-bold">New Order</h3>
        <%= form_with(model: [@bid, @order], local: true) do |form| %>
          <div class="field">
            <div class="card bg-white p-4 rounded-lg shadow-md">
              <div class="form-group mb-4">
                <%= form.label :pickup_time, class: "font-bold mb-2 block" %>
                <%= form.datetime_local_field :pickup_time, value: Time.zone.now.strftime("%Y-%m-%dT%H:%M"), class: "form-control w-full py-2 px-3 text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
              </div>
              <div class="actions flex justify-center">
                <%= form.submit "Create", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
