<div class="bg-cover h-full bg-background_img">
  <div class = "pt-5 mx-12" style="display: flex; justify-content: center; align-items: center;">
    <div class="p-5 flex flex-col items-center justify-center mx-12 px-5 my-10 w-full h-4/5 max-w-sm bg-white border border-black-200 rounded-lg shadow sm:p-30 md:p-30 dark:bg-gray-800 border-transparent">
      <div class="flex flex-col items-center justify-between space-y-5 ">
        <h3 class="font-bold">New Address</h3>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<script>
var geocoder;
var map;
var marker;
var input = document.getElementById('pac-input');

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 6,
    center: {lat: 30.3753, lng: 69.3451},
    zoomControl: true
  });
  marker = new google.maps.Marker({
    position: {lat: 30.3753, lng: 69.3451},
    map: map,
    draggable: true
  });

  google.maps.event.addListener(map, "click", function (event) {
    marker.setPosition(event.latLng);
    map.panTo(event.latLng);
  });

  google.maps.event.addListener(marker, "dragend", function (event) {
    geocodeLatLng(event.latLng);
    map.panTo(event.latLng);
  });

  geocoder = new google.maps.Geocoder();
  var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.bindTo('bounds', map);

  autocomplete.addListener('place_changed', function() {
    var place = autocomplete.getPlace();
    if (!place.geometry) {
      alert("No details available for input: " + place.name );
      return;
    }

    map.setCenter(place.geometry.location);
    marker.setPosition(place.geometry.location);
    map.setZoom(18);

    var address_components = place.address_components;
    var street_number = "";
    var route = "";
    var city = "";
    var state = "";
    var zip_code = "";
    for (var i = 0; i < address_components.length; i++) {
      var component = address_components[i];
      if (component.types.includes("street_number")) {
        street_number = component.long_name;
      } else if (component.types.includes("route")) {
        route = component.long_name;
      } else if (component.types.includes("locality")) {
        city = component.long_name;
      } else if (component.types.includes("administrative_area_level_1")) {
        state = component.long_name;
      } else if (component.types.includes("postal_code")) {
        zip_code = component.long_name;
      }
    }
    document.getElementById("address_street1").value = street_number + " " + route;
    document.getElementById("address_city").value = city;
    document.getElementById("address_state").value = state;
    document.getElementById("address_zip_code").value = zip_code;

    var address = {
      street1: street_number + " " + route,
      city: city,
      state: state,
      zip_code: zip_code
    };


    document.getElementById("address_street2").value = "";
    document.getElementById("map").focus();
    console.log(address);

  });
}
function geocodeLatLng(latlng) {
  geocoder.geocode({ 'location': latlng }, function(results, status) {
    if (status === 'OK') {
      if (results[0]) {

        var address_components = results[0].address_components;
        var street_number = "";
        var route = "";
        var city = "";
        var state = "";
        var zip_code = "";
        for (var i = 0; i < address_components.length; i++) {
          var component = address_components[i];
          if (component.types.includes("street_number")) {
            street_number = component.long_name;
          } else if (component.types.includes("route")) {
            route = component.long_name;
          } else if (component.types.includes("locality")) {
            city = component.long_name;
          } else if (component.types.includes("administrative_area_level_1")) {
            state = component.long_name;
          } else if (component.types.includes("postal_code")) {
            zip_code = component.long_name;
          }
        }
        document.getElementById("address_street1").value = street_number + " " + route;
        document.getElementById("address_city").value = city;
        document.getElementById("address_state").value = state;
        document.getElementById("address_zip_code").value = zip_code;

        var address = {
          street1: street_number + " " + route,
          city: city,
          state: state,
          zip_code: zip_code
        };

        document.getElementById("address_street2").value = "";
        console.log(address);

      } else {
        window.alert('No results found');
      }
    } else {
      window.alert('Geocoder failed due to: ' + status);
    }
  });
}
</script><script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3JUhLERQ9GxZnC4OHjA_AzieuJlcW6Is&libraries=places&callback=initMap"></script>
