
<div class="bg-cover bg-no-repeat h-screen bg-background_img">
  <%= render 'devise/shared/back' %>
  <div class = "pt-5 mx-12" style="display: flex; justify-content: center; align-items: center;">
  <div class="p-5 flex flex-col items-center justify-center mx-12 px-5 my-10 w-full h-4/5 max-w-sm bg-white border border-black-200 rounded-lg shadow sm:p-30 md:p-30 dark:bg-gray-800 border-transparent">
    <div class="flex flex-col items-center justify-between space-y-5 ">
      <h3 class="font-bold">Edit Product</h3>
      <%= render "form" %>
    </div>
  </div>
</div>
